#files to ignore
wallets.json
addressbook.json
ledger.json
allstakes.json
autoconfig
withdrawerconfig.json
last_reset_timestamp.txt
restart_count.log
restart_times.log
update_lock.pid
validator_update.log
update_pause_time.txt
